.avatar-container {
    margin-top: 10px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: margin 0.5s ease-in-out;

    &.background, .background {
        padding: 5px;
        border-radius: 15px;
    }
    
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 40px;
            height: 40px;
        }
    }

    &.open {
        .description {
            font-size: 0.8rem;
            margin-left: 20px;
        }
    }
    &.close {
        margin-left: 10px;
        .description {
            opacity: 0;
            margin-left: 40px;
        }
    }
}