@import './theme-palette.scss';

$theme-status: ('light': $light-palette, 'dark': $dark-palette);

@each $theme-name, $theme-palette-name in $theme-status {
    .sidebar.#{$theme-name} {
        background-color: map-get($theme-palette-name, "background-color");
        .content {
            color: map-get($theme-palette-name, "font-color-main");
            .section-title {
                color: map-get($theme-palette-name, "font-color-secondary");
            }
            
            &.open .list-item:hover {
                background-color: map-get($theme-palette-name, "onhover-background");
                color: map-get($theme-palette-name, "font-color-hover");
                border-radius: 10px;
                transition: background-color 0.2s linear;
            }
            &.close .list-item.icon:hover {
                background-color: map-get($theme-palette-name, "onhover-background");
                color: map-get($theme-palette-name, "font-color-hover");
                border-radius: 10px;
                transition: background-color 0.2s linear;
            }
            .avatar-container {
                &.background, .background {
                    background-color: map-get($theme-palette-name, "avatar-background");
                    border-radius: 10px;
                }
            }
        }
        .arrow-indicator {
            .icon {
                color: map-get($theme-palette-name, "font-color-secondary");
            }
            background-color: map-get($theme-palette-name, "arrow-background");
        }
    }
}
